.headerdiv{
    background-color: rgb(11, 11, 11);
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 15px;
    padding-top: 5px;
    
}

.headermsg{
    text-decoration: none;
    color: aliceblue;
}

.footerdiv{
    background-color: rgb(11, 11, 11);
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-small;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 1rem;
}

.sideimage{
    box-shadow: 10px 10px 5px rgb(233, 236, 237);
    margin-top: 1rem;
    border-radius: 10px;
}

.sidears{
    position: fixed;
    right: 0;
    height: 100%;
    color: aliceblue;
    font-size: larger;
    font-weight: bolder;
    width: 16%;
    
    
}

.genrediv{
    background-color: rgb(74, 129, 223);
    height: 100%;
}

.genrediv:hover{
    background-color: rgb(53, 95, 168);
}

.authordiv{
    background-color: rgb(199, 121, 230);
    height: 100%;
}

.authordiv:hover{
    background-color: rgb(121, 72, 141);
}

.booksdiv{
    background-color: rgb(105, 226, 239);
    height: 100%;
}

.booksdiv:hover{
    background-color: rgb(51, 111, 118);
}

.sidebarlink{
    text-decoration: none;
    color: aliceblue;
    
}

.leftsidebars{
    position: fixed;
    left: 0;
    height: 100%;
    color: aliceblue;
    font-size: medium;
    width: 16%;
    background-color: rgb(11, 11, 11);
}

.welcomemsg{
    padding: 1rem;
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif
}

.logoutbtn{
    border-radius: 5px;
}

.homepage{
    margin-top: 2rem;
    margin-left: 3rem;
}


.genreheader, .authorheader{
    width: 100%;
    background-color: black;
    color: aliceblue;
    font-size: larger;
    font-weight: bolder;

}

.divider{
    background-color: black;
    width: 100%;
    font-size: x-small;
    color: black;
    height: 1vh;
}

.genretext{
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    border: 1px solid rgb(226, 222, 222);
    margin: 3px;
    border-radius: 5px;

}

.genretext:hover{
    background-color: rgb(250, 243, 238);
}

.headerdiv > h3{
    text-decoration: none;
}

.adminnameinput{
    width: 100%;
}


.inputfield{
    border-radius: 5px ;
    border: 1px solid rgb(180, 179, 179);
    width: 225px;
    height: 32px;
}

.booklistheader{
    /* width: 100%; */
    background-color: black;
    color: aliceblue;
    text-align: center;
}

.bookimg{
    width: 60px;
    height: 90px;
}



